/* line 12, ../../src/scss/modules/_base.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 13px/1.25 "Helvetica Neue", HelveticaNeue, helvetica, arial, sans-serif;
  overflow: hidden;
  line-height: 1.25em;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* line 31, ../../src/scss/modules/_base.scss */
div {
  height: 100%;
}

/* line 35, ../../src/scss/modules/_base.scss */
svg {
  stroke-width: 0px;
}

/* line 40, ../../src/scss/modules/_base.scss */
.metro-map-view {
  height: 100%;
  width: 100%;
  z-index: 20;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
  overflow: hidden;
}

/* line 3, ../../src/scss/modules/_metro.scss */
.metro-station .container {
  fill: white;
  fill-opacity: 1;
}
/* line 8, ../../src/scss/modules/_metro.scss */
.metro-station .entry {
  fill-opacity: 0.6;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.BL {
  fill: #0795d3;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.GR {
  fill: #00b050;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.OR {
  fill: #da8707;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.RD {
  fill: #be1337;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.SV {
  fill: #a2a4a1;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-station .entry.YL {
  fill: #f5d415;
}
/* line 13, ../../src/scss/modules/_metro.scss */
.metro-station.active {
  font-weight: bold;
}
/* line 17, ../../src/scss/modules/_metro.scss */
.metro-station.end {
  font-weight: bold;
}
/* line 21, ../../src/scss/modules/_metro.scss */
.metro-station .station-name {
  fill-opacity: 1;
  font-size: 0.5em;
  fill: black;
}
/* line 27, ../../src/scss/modules/_metro.scss */
.metro-station .station-name.end, .metro-station .station-name.main {
  font-size: 0.75em;
}

/* line 33, ../../src/scss/modules/_metro.scss */
.metro-line {
  stroke: #aaaaaa;
  stroke-width: 1px;
}
/* line 31, ../../src/scss/modules/_mixins.scss */
.metro-line.BL {
  stroke: #0795d3;
}
/* line 34, ../../src/scss/modules/_mixins.scss */
.metro-line.GR {
  stroke: #00b050;
}
/* line 37, ../../src/scss/modules/_mixins.scss */
.metro-line.OR {
  stroke: #da8707;
}
/* line 40, ../../src/scss/modules/_mixins.scss */
.metro-line.RD {
  stroke: #be1337;
}
/* line 43, ../../src/scss/modules/_mixins.scss */
.metro-line.SV {
  stroke: #a2a4a1;
}
/* line 46, ../../src/scss/modules/_mixins.scss */
.metro-line.YL {
  stroke: #f5d415;
}

/* line 40, ../../src/scss/modules/_metro.scss */
.metro-prediction {
  opacity: 1;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-prediction.BL {
  fill: #0795d3;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-prediction.GR {
  fill: #00b050;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-prediction.OR {
  fill: #da8707;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-prediction.RD {
  fill: #be1337;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-prediction.SV {
  fill: #a2a4a1;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-prediction.YL {
  fill: #f5d415;
}
/* line 31, ../../src/scss/modules/_mixins.scss */
.metro-prediction.BL {
  stroke: #0795d3;
}
/* line 34, ../../src/scss/modules/_mixins.scss */
.metro-prediction.GR {
  stroke: #00b050;
}
/* line 37, ../../src/scss/modules/_mixins.scss */
.metro-prediction.OR {
  stroke: #da8707;
}
/* line 40, ../../src/scss/modules/_mixins.scss */
.metro-prediction.RD {
  stroke: #be1337;
}
/* line 43, ../../src/scss/modules/_mixins.scss */
.metro-prediction.SV {
  stroke: #a2a4a1;
}
/* line 46, ../../src/scss/modules/_mixins.scss */
.metro-prediction.YL {
  stroke: #f5d415;
}
/* line 45, ../../src/scss/modules/_metro.scss */
.metro-prediction.sonar {
  fill: none;
  stroke-width: 3px;
}
/* line 50, ../../src/scss/modules/_metro.scss */
.metro-prediction text {
  fill: black;
  font-size: 0.75em;
  font-weight: bold;
}

/* line 57, ../../src/scss/modules/_metro.scss */
.metro-route-view {
  height: 100%;
  width: 100%;
  z-index: 10;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  fill-opacity: 1;
  stroke-width: 1;
  transition: all 500ms ease;
}
/* line 81, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .heading {
  font-size: 1em;
  textLength: 20;
  lengthAdjust: spacing;
}
/* line 86, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .heading path {
  fill-opacity: 1;
  stroke: black;
  stroke-width: 0.5;
}
/* line 93, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction {
  font-size: 0.8em;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.BL {
  fill: #0795d3;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.GR {
  fill: #00b050;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.OR {
  fill: #da8707;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.RD {
  fill: #be1337;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.SV {
  fill: #a2a4a1;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .line.YL {
  fill: #f5d415;
}
/* line 100, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .wrapper {
  stroke: #aaaaaa;
  fill: none;
}
/* line 105, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .arrival {
  display: inline-block;
  textLength: 10;
  lengthAdjust: spacing;
}
/* line 110, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-predictions .metro-route-prediction .destination {
  display: inline-block;
}
/* line 118, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-plan .entry {
  font-size: 0.8em;
}
/* line 121, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-plan .entry .line {
  fill-opacity: 0.8;
}
/* line 10, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.BL {
  fill: #0795d3;
}
/* line 13, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.GR {
  fill: #00b050;
}
/* line 16, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.OR {
  fill: #da8707;
}
/* line 19, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.RD {
  fill: #be1337;
}
/* line 22, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.SV {
  fill: #a2a4a1;
}
/* line 25, ../../src/scss/modules/_mixins.scss */
.metro-route-view .metro-route-plan .entry .line.YL {
  fill: #f5d415;
}
/* line 127, ../../src/scss/modules/_metro.scss */
.metro-route-view .metro-route-plan .link {
  stroke-width: 1;
  stroke: #aaaaaa;
}

/* line 134, ../../src/scss/modules/_metro.scss */
.metro-map-detail {
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transition: all .5s ease-in-out;
  position: relative;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 10%;
  z-index: 20;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  border-radius: 3px;
}
/* line 154, ../../src/scss/modules/_metro.scss */
.metro-map-detail section {
  overflow-y: scroll;
  height: 100%;
}
/* line 158, ../../src/scss/modules/_metro.scss */
.metro-map-detail p {
  margin-top: 0;
  padding-left: 2%;
  padding-right: 2%;
}
/* line 164, ../../src/scss/modules/_metro.scss */
.metro-map-detail h4 {
  margin-bottom: 0;
  padding-left: 2%;
}
/* line 168, ../../src/scss/modules/_metro.scss */
.metro-map-detail h4:not(:first-child) {
  margin-top: 0;
}
/* line 173, ../../src/scss/modules/_metro.scss */
.metro-map-detail header .close {
  padding: 1%;
  float: right;
}
/* line 179, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 186, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer span {
  padding: 2%;
}
/* line 189, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer span:first-child {
  float: left;
}
/* line 192, ../../src/scss/modules/_metro.scss */
.metro-map-detail footer span:last-child {
  float: right;
}
/* line 197, ../../src/scss/modules/_metro.scss */
.metro-map-detail.active {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
